.skills-info-box {
  position: absolute;
  top: 150px;
  right: 0%;
  width: 50%;
  height: 650px;
}

.skills-header {
  position: absolute;
  top: 45px;
  left: 5%;
  color: white;
  font-size: 73px;
}

.skills-box {
  width: 500px;
  height: 480px;
  position: absolute;
  right: 350px;
  top: 6px;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-left: 3px solid #9c9c9c;
}

.skills {
  width: 300px;
  height: 540px;
  position: absolute;
  right: 10%;
  top: 140px;
  z-index: 3;
}

h2 {
  color: #9c9c9c;
}
p {
  cursor: pointer;
  color: #9c9c9c;
}
p:hover {
  color: white;
}

.icon {
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 20px;
  transition: 0.3s;
  fill: #9c9c9c;
  z-index: 3;
}
.icon:hover {
  fill: white;
}

.about-info-box {
  width: 43%;
  height: 700px;
  position: absolute;
  left: 5%;
  top: 200px;
}
.about-header {
  font-size: 73px;
  color: white;
  margin-left: 40px;
}
.about-me-text {
  margin: 40px;
  font-size: 25px;
  color: #9c9c9c;
}
.relocation-text {
  font-size: 18px;
}
