* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #022c43;
}

.home-header {
  color: white;
  position: absolute;
  left: 10%;
  top: 26%;
  font-size: 64px;
  width: 522px;
  height: 240px;
  font-weight: 700;
  letter-spacing: 3px;
}
.home-sub-header {
  color: #b0b0b0;
  font-size: 21px;
  position: absolute;
  left: 10%;
  top: 50%;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.home-contact-me {
  cursor: pointer;
  position: absolute;
  top: 63%;
  left: 10%;
  border: 2px solid #faff00;
  background-color: #022c43;
  color: #faff00;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
}
.home-contact-me:hover {
  cursor: pointer;
  position: absolute;
  top: 63%;
  left: 10%;
  background-color: #faff00;
  color: #022c43;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 10px 30px;
}

.code-animation-container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: 500px;
  display: flex;
  align-items: center;
}
#logo1 {
  animation: fill 1.5s ease forwards 2.5s;
}
#logo1 path:nth-child(1) {
  stroke-dasharray: 1010;
  stroke-dashoffset: 1010;
  animation: line-anim 2s ease forwards;
}
#logo2 {
  animation: fill 1.5s ease forwards 2.5s;
}
#logo2 path:nth-child(1) {
  stroke-dasharray: 1210;
  stroke-dashoffset: 1210;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo3 {
  animation: fill 1.5s ease forwards 2.5s;
}
#logo3 path:nth-child(1) {
  stroke-dasharray: 1010;
  stroke-dashoffset: 1010;
  animation: line-anim 2s ease forwards 0.9s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
